/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custon fonts */
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* scrollbar */
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    @apply bg-white; /* Set the background color to black */
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-brand/50; /* Set the scrollbar thumb color to white */
    border-radius: 10px;
  }

  
  /* img animation */
img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  .hidden-menu{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .menu-active{
    opacity: 1;
  }

  /* cart */
  .__cart {
    position: absolute;
    right: 0;
    top: 56px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 10;
  }
  
  .__cart.show {
    opacity: 1;
    transform: translateY(0);
  }